* {
    font-family: Oswald;
    margin: 0px;
    padding: 0px;
}

html, body {
    max-width: 1500px;
    margin: 0px auto;
}

html {
    background-color: rgb(228, 228, 228);
}

body {
    background-color: white;
}

nav {
    box-shadow: 2px 2px 5px black;

    position: sticky;
    z-index: 100;
    top: 0px;
    background-color: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a {
    cursor: pointer;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #CD1D2C;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.7em 1em;
    border-radius: 10px;
}

@media (min-width: 768px) {
    nav > a {
        font-size: 20px;
    }
}

/* Footer */
footer {
    text-align: center;
    font-family: Inter;
    padding: 20px 0px;
    background-color: #866784;
    color: white;
}

/* Contact */
.contact-flex {
    margin: 40px auto 40px auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 0px;
    justify-content: space-around;
}

.contact-info {
    margin: 0px 20px;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    width: 300px;
}