.banner {
    background-image: url("../images/victory-truck.png");

    background-position: center;
    background-size: cover;
}

@media (min-width: 1800px) {
    .banner {
        background-position: 0px -800px;
    }
}