/* Pre-styling*/

* {
    margin: 0px;
    padding: 0px;
}

/* Nav */

nav {
    position: sticky;

    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
}

nav > img {
    width: 170px;
    height: 88.24px;
    object-fit: contain;
}

nav > a {
    margin-right: 20px;
    cursor: pointer;

    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
    background: #CD1D2C;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px 11px;
    border-radius: 10px;
}

/* Banner */

.banner {
    position: relative;
    text-align: center;
    font-family: Oswald;
    font-weight: 700;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
    height: 250px;
}

.banner > .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.200);
    height: 100%;
    width: 100%;
}

.banner > h1 {
    z-index: 1;
    position: relative;
    padding-top: 40px;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px black;
}

.banner > h2 {
    z-index: 1;
    position: relative;
    font-size: 16px;
    text-shadow: 2px 2px 0px black;
}

.banner > a {
    z-index: 1;
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin-top: 20px;
    font-family: Oswald;
    font-size: 16px;
    color: white;
    background-color: #CD1D2C;
    border-radius: 100px;
    padding: 7px 10px;
    border: none;
}