/* Pre-styling */
* {
    margin: 0;
    padding: 0;
  }

  html {
    font-family: Oswald;
    outline: 2px solid black;
    margin: 0px auto;
    max-width: 1920px;
  }
  
  /* Nav */
  nav {
    z-index: 20;
    background-color: white;
    position: sticky;
    top: 0px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  nav > img {
    width: 170px;
    height: 88.24px;
    object-fit: contain;
  }
  
  nav > a {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #CD1D2C;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 8px 11px;
    border-radius: 10px;
  }
  
  /* Banner */
  .banner {
    position: relative;
    text-align: center;
    font-family: Oswald;
    font-weight: 700;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 275px;
  }
  
  .banner > .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
  }
  
  .banner > h1 {
    z-index: 1;
    position: relative;
    padding-top: 40px;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0px black;
  }
  
  .banner > h2 {
    z-index: 1;
    position: relative;
    font-size: 16px;
    text-shadow: 2px 2px 0px black;
  }
  
  .banner > a {
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-weight: bold;
    margin-top: 20px;
    font-family: Oswald;
    font-size: 16px;
    color: white;
    background-color: #CD1D2C;
    border-radius: 100px;
    padding: 7px 10px;
    border: none;
  }
  
  /* Banner card */
  .banner-card {
    position: relative;
    z-index: 10;
    margin: -30px auto 0;
    width: 280px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: white;
  }
  
  .service {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .service-text > h3 {
    font-family: Oswald;
  }
  
  .service-text > p {
    font-family: Inter;
    font-size: 14px;
  }
  
  .service-icon {
    width: 35px;
    height: 35px;
  }

/* 
  The future is near 
  and Our vision 
*/

.future, .vision {
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.future > img, .vision > img {
  width: 270px;
  height: 370px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
}

.futurevision-flexbox {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

.futurevision-flexbox > h3 {
  font-family: Oswald;
  font-size: 24px;
}

.futurevision-flexbox > p {
  font-family: Inter;
  font-weight: 300;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.250);
  line-height: 24px;
}

.red-text {
  color: #CD1D2C;
}

/* Bug pages */

.bugs {
  position: relative;
  z-index: 10;
  max-width: 500px;
  margin: -70px auto 0px;
  padding: 0px 20px;
  font-family: Oswald;
}

.bugs > h2 {
  margin-bottom: 0px;
}

.small-text {
  margin: 0px;
  font-family: Inter;
  display: inline-block;
  font-size: 10px;
}

.cards-flex {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.250);
}

.card > img {
  border-bottom: 2px solid #CD1D2C;
  border-radius: 10px 10px 0px 0px;
  height: 100px;
  width: 100%;
  object-fit: cover;
}

.bug-text {
  padding: 0px 10px;
}

.bug-text > h4 {
  margin: 5px 0px;
}

.text-ellipsis {
  font-family: Inter;
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit the text to three lines */
  overflow: hidden;
}

/* Pricing */

.pricing {
  margin-top: 40px;
  padding: 40px 20px;
  text-align: center;
  color: white;
  background-color: #677586;
}

.pricing > h3 {
  margin-bottom: 10px;
  font-size: 26px;
}

.pricing > p {
  font-family: Inter;
  font-size: 12px;
}

.pricing-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.price-box {
  width: 300px;
}

.price-box > img {
  width: 50px;
}

.price-box > h4 {
  font-size: 22px;
}

.price-box > h5 {
  font-size: 18px;
}

.price-box > p {
  font-family: Inter;
  line-height: 30px;
}

.price-box > a {
  color: white;
  text-decoration: none;
  margin: 10px 0px;
  border-radius: 100px;
  display: inline-block;
  background-color: #CD1D2C;
  padding: 10px 20px;
}

/* Footer */

footer {
  text-align: center;
  font-family: Inter;
  padding: 20px 0px;
  background-color: #866784;
  color: white;
}

/* MEDIA QUERRIES */

@media (min-width: 768px) {

  nav > a {
    font-size: 18px;
  }

  .banner {
    height: 400px;
  }

  .banner > h1 {
    padding-top: 100px;
    font-size: 48px;
  }
  
  .banner > h2 {
    font-size: 24px;
  }
  
  .banner > a {
    font-size: 32px;
    padding: 10px 20px;
  }

  /* Banner card */

  .banner-card {
    width: 650px;
    height: auto;
    position: relative;
    z-index: 10;
    margin: -50px auto 0;
    padding: 20px 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
  
  .service {
    gap: 20px;
    flex-direction: row;
    text-align: left;
  }
  
  .service-text > h3 {
    font-size: 20px;
  }
  
  .service-text > p {
    font-size: 16px;
  }
  
  .service-icon {
    height: 50px;
    width: 50px;
  }

  .small-text {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  .banner {
    height: 550px;
  }

  .banner > h1 {
    padding-top: 100px;
    font-size: 60px;
  }
  
  .banner > h2 {
    margin-top: 10px;
    font-size: 26px;
  }

  .banner-card {
    margin-top: -100px;
  }

  .future, .vision {
    justify-content: space-between;
    width: 800px;
    flex-direction: row;
  }

  .futurevision-flexbox {
    padding: 0px;
  }

  .futurevision-flexbox > p {
    line-height: 30px;
  }

  .vision {
    flex-direction: row-reverse;
  }

  .bugs {
    max-width: 800px;
  }
}

@media (min-width: 1440px) {
  .banner {
    height: 650px;
  }

  .banner > h1 {
    font-size: 80px;
  }

  .banner > h2 {
    font-size: 32px;
  }

  .banner-card {
    width: 1000px;
    padding: 40px 40px;
    gap: 40px;
  }

  .card {
    height: 300px;
    width: 300px;
  }

  .card > img {
    height: 150px;
  }

  .bug-text > h4 {
    margin: 10px 0px;
    font-size: 20px;
  }

  .bug-text > p {
    font-size: 16px;
  }

  .service-text > h3 {
    font-size: 24px;
  }
  
  .service-text > p {
    font-family: Inter;
    font-size: 18px;
  }
  
  .service-icon {
    width: 70px;
    height: 70px;
  }

  .future, .vision {
    width: 1000px;
  }

  .futurevision-flexbox {
    max-width: 600px;
  }

  .futurevision-flexbox > h3, .bugs > h2, .pricing > h3 {
    font-size: 32px;
  }

  .futurevision-flexbox > p {
    font-size: 18px;
  }

  .bugs {
    max-width: 1000px;
  }
}